<nav class="navbar navbar-expand-lg text-uppercase navbar-dark fixed-top fw-bolder" id="Navbar">
    <div class="container py-3">
      <a class="navbar-brand" href="#">START ANGULAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">
            <li class="nav-item">
                <a class="nav-link rounded " aria-current="page" routerLink="home" routerLinkActive="test">Home</a>
              </li>
            <li class="nav-item">
            <a class="nav-link rounded " aria-current="page" routerLink="portfolio" routerLinkActive="test">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded" routerLink="about" routerLinkActive="test">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded" routerLink="contact" routerLinkActive="test">Contact</a>
          </li>
         
        
        </ul>
        
      </div>
    </div>
  </nav>
