<section id="portfolio">
    <div class="container">
        <h2 class=" text-center text-uppercase  mb-3">portfolio</h2>
        <div class=" d-flex justify-content-center align-items-center mb-3">
            <div class="custom-line"></div>
            <div class="custom-icon"> <i class="fa fa-star fa-2xl mx-2"></i></div>
            <div class="custom-line"></div>
        </div>
        <div class="row py-5 gy-4 ">
            
            <div class="col-md-4 " (click)="open()" (click)="data.box1=true ;data.box2=false;data.box3=false;data.box4=false;data.box5=false;data.box6=false">
                <div class="img position-relative overflow-hidden">
               <img src="../assets/images/cabin.png" class="w-100 rounded px-0 mx-0" alt="">
               <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
                   <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
               </div>

           </div>
           </div>


            <div class="col-md-4 " (click)="open()" (click)="data.box2=true;data.box1=false;data.box3=false;data.box4=false;data.box5=false;data.box6=false">
                <div class="img position-relative overflow-hidden">
               <img src="../assets/images/cake.png" class="w-100 rounded px-0 mx-0" alt="">
               <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
                   <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
               </div>

           </div>
           </div>

           <div class="col-md-4 " (click)="open()" (click)="data.box3=true ;data.box2=false;data.box1=false;data.box4=false;data.box5=false;data.box6=false">
            <div class="img position-relative overflow-hidden">
           <img src="../assets/images/circus.png" class="w-100 rounded px-0 mx-0" alt="">
           <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
               <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
           </div>

       </div>
       </div>

       <div class="col-md-4 " (click)="open()" (click)="data.box4=true ;data.box2=false;data.box3=false;data.box1=false;data.box5=false;data.box6=false">
        <div class="img position-relative overflow-hidden">
       <img src="../assets/images/game.png" class="w-100 rounded px-0 mx-0" alt="">
       <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
           <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
       </div>

   </div>
   </div>

   <div class="col-md-4 " (click)="open()" (click)="data.box5=true ;data.box2=false;data.box3=false;data.box4=false;data.box1=false;data.box6=false">
    <div class="img position-relative overflow-hidden">
   <img src="../assets/images/safe.png" class="w-100 rounded px-0 mx-0" alt="">
   <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
       <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
   </div>

</div>
</div>

<div class="col-md-4 " (click)="open()" (click)="data.box6=true ;data.box2=false;data.box3=false;data.box4=false;data.box5=false;data.box1=false">
    <div class="img position-relative overflow-hidden">
   <img src="../assets/images/submarine.png" class="w-100 rounded px-0 mx-0" alt="">
   <div class="lay-out px-1 rounded position-absolute w-100 h-100 top-0 bottom-0 end-0 start-0 d-flex justify-content-center align-items-center">
       <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
   </div>

</div>
</div>


        </div>
    
    </div>

</section>