<section id="home">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5 w-25" src="..\assets\images\avataaars.svg" alt="">
       <h1 class="position-relative text-uppercase mb-3">Start Angular</h1>
       <div class=" d-flex justify-content-center align-items-center mb-3">
        <div class="custom-line"></div>
        <div class="custom-icon"> <i class="fa fa-star fa-2xl mx-2"></i></div>
        <div class="custom-line"></div>
    </div>
        <p class=" font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
