<div class="container">
    <h2 class="text-center">{{title}}</h2>
<div class=" d-flex justify-content-center align-items-center mb-3">
    <div class="custom-line"></div>
    <div class="custom-icon"> <i class="fa fa-star fa-2xl mx-2"></i></div>
    <div class="custom-line"></div>
</div>
<div class="w-100 mx-auto text-center">
    <img [src]="img" class="mb-4 w-75 mx-auto  rounded" alt="">

</div><p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
<div class="w-100 mx-auto text-center">
    <button class="btn btn-lg my-4" (click)="close()"> close Window</button>

</div>
</div>